:root {
	--cpri: #bca618;
	--csec: #00161c;
}


html{
    scroll-behavior: smooth;
	
}



body{
	font-family: 'Lato', sans-serif !important;
	
}



/* estilo menu */

#menu-2{
	display: none !important;
}


.navbar{
	transition: all 0.5s;
	min-height: 56px;
}


.navbar ul li a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	margin-left: 48px;
	
}
.navbar ul li a:hover{
	border-bottom: 4px solid var(--cpri);
	text-decoration: none;
	padding-bottom: 1em;
}

.navbar .navbar-brand span{
	display: none;
	color: #fff;
}


.menu{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 14px 19px -1px;
	background: var(--csec);
}



/* estilos banner */

.banner{
	width: 100%;
	padding-bottom: 40px;
	padding-top: 160px;
	
}
.banner .img-pri{
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	z-index: 0;
}

.banner .media{
	margin-top: 40px
}
.banner h1{
	font-size: 48px;
}
.banner .title strong{
	font-size: 52px;
	font-weight: bold;
}

.fras-sanpedro p{
	margin-top: 15px;
	font-size: 16px;
}

/*------ estilos para los subtitulos ---------

->bienenidos
->Noticias
->señor de los trabajos
->galeria
->Notaria parroquial
->celebraciones parroquiales   

-----------------------------*/

.subtitles-pri{
	font-size: 32px;
	font-weight: bold;
}




/* ------ seccion bienvenidos ------*/
.bienvenidos{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}
.bienvenidos h2{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	display: inline-block;
}

.bienvenidos p{
	
	font-size: 16px;
	line-height: 35px;
	text-align: left;
	margin-top: 25px;
		
}

.bienvenidos img{
	width: 500px;
	margin-top: 18%;
	
}
.bienvenidos .mineral{
	display: none;
}


.img-sombra{
	-webkit-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}


/*------ seccion historia --- */

.historia{
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
	position: relative;
	border: 1px solid red;

}
.historia .ancla-historia{
	width: 10px;
	height: 10px;
	background: red;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: -80px;
	
}

.historia img{
	width: 600px;
	
}
.historia .pedro{
	display: none;
}

.historia .info{
	padding-left: 60px;
}
.historia .info h3{
    
	font-size: 32px;
	font-weight: bold;
		
}
.historia .info p{
	
	font-size: 16px;
	color: #5b5b5b;
	line-height: 30px;
	
}

.historia a:link{
	text-decoration: none;
	padding: 8px 60px 8px 60px;
	margin-bottom: 30px;
	display: inline-block;
	background: var(--cpri);
	color: #fff;
	-webkit-box-shadow: -1px 11px 15px -6px rgba(188,166,24,0.68);
	-moz-box-shadow: -1px 11px 15px -6px rgba(188,166,24,0.68);
	box-shadow: -1px 11px 15px -6px rgba(188,166,24,0.68);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}
.historia a:visited{
	color: #fff;
}

.historia a:hover{
	-webkit-box-shadow: -1px 11px 15px -1px rgba(188,166,24,0.72);
	-moz-box-shadow: -1px 11px 15px -1px rgba(188,166,24,0.72);
	box-shadow: -1px 11px 15px -1px rgba(188,166,24,0.72);

}


/* ventana modal sacerdotes */
.sacerdotes .modal-content{
	border: none;
}
.sacerdotes .modal-content .modal-header{
	background: var(--cpri);
	color: #fff;
	border-bottom: none;
	border-radius: 0;
}
.sacerdotes .modal-content .modal-header h5{
	text-align: center;
	margin-left: auto;
}
.sacerdotes .modal-content .modal-body ul li{
	font-weight: bold;
}
.sacerdotes .modal-content .modal-body span{
	margin-right: 30px;
	font-weight: normal;
	color: #848484;
}

.sacerdotes .modal-content .modal-footer button{
	background: var(--csec);
	color: #fff;
}




/* -------------------------------*/


/* señor de los trabajos */


.s-trabajos{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 50px;

}

.s-trabajos h2{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	display: inline-block;
}

.s-trabajos p{
	
	font-size: 16px;
	line-height: 35px;
	text-align: left;
	margin-top: 25px;
		
}
.s-trabajos span{
	border-bottom: 2px solid var(--cpri);
	font-weight: bold;
}


.s-trabajos-img{
	margin-top: 90px;
	
}

.s-trabajos-img-max{
	display: none;
	
}



.s-trabajos .historia-p{
	padding-left: 5%;
	font-size: 16px;
	text-align: left;
	border-left: 10px solid var(--cpri);
	
}




/*--------- seccion avisos --- */

.avisos{
	width: 100%;
	margin-top: 100px;
	padding-bottom: 100px;
	padding-top: 100px;
	background: url(../img/noticias-im.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	border: 1px solid red;
}

.avisos .ancla-blog{
	width: 10px;
	height: 10px;
	background: red;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: -80px;
	
}
.avisos .ancla-avisos{
	width: 10px;
	height: 10px;
	background: red;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: -80px;
	
}



.avisos .card-avisos{
	margin-top: 60px;
	min-height: 380px;
	border: none !important;
	
	
}

.avisos .card-avisos .card-header{
	padding: 0px;
	background: var(--cpri);
	border: none !important;
}
.avisos .card-avisos .card-header h4{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	
	
}

.avisos .card-avisos .list-avisos li{
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 20px;
	border-bottom: 1px dashed var(--cpri);
}


/* noticias */
.avisos .noticias{
	padding-right: 10%;
}
.noticias h4{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 40px;
	
}
.noticias .fecha{
	text-align: center;
	color: #fff;
	font-size: 36px;
	font-weight: bold;
}
.noticias .fecha span{
	font-size: 14px;
	font-weight: normal;
}

.noticias h5{
	color: #fff;
	font-size: 20px;
	
}
.noticias p{
	color: #727272;
	text-align: left;
}

.noticias p a{
	color: var(--cpri);
	text-decoration: none;
	margin-bottom: 30px;
	
}
.noticias p a:hover{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 5px;
}

.noticias p a:visited{
	color: var(--cpri);
}



.noticias .btn-noticias{
	
	border: 1px solid var(--cpri);
	margin-top: 80px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	padding: 8px 80px 8px 80px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
	outline: none;
	
}





.noticias .btn-noticias:hover{
	background: var(--cpri);
	color: #fff;
}

.noticias .btn-noticias:visited{
	
	color: #fff;
	text-decoration: none;
	
}


/* seccion galeria */

.galeria{
	width: 100%;
	padding-bottom: 100px;
	padding-top: 160px;
	position: relative;
	border: 1px solid blue;
	
}
.galeria .ancla-galeria{
	width: 10px;
	height: 10px;
	background: red;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: 40px;
	
}

.galeria .carousel{
	
	border-top: 20px solid #fff;
	border-right: 20px solid #fff;
	border-bottom: 40px solid #fff;
	border-left: 20px solid #fff;
	-webkit-box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.2);


}

.carousel .carousel-inner {
    width: 100%;
   
	
}

.galeria h2{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	display: inline-block;
	margin-top: 60px;
}

.galeria .info{
	padding-left: 60px;
}
.galeria p{
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 40px;
}


.galeria .btn-galeria{
	
	border: 1px solid var(--cpri);
	display: inline-block;
	text-decoration: none;
	background: var(--cpri);
	color: #fff;
	padding: 8px 60px 8px 60px;
	-webkit-box-shadow: -1px 11px 15px -6px rgba(188,166,24,0.68);
	-moz-box-shadow: -1px 11px 15px -6px rgba(188,166,24,0.68);
	box-shadow: -1px 11px 15px -6px rgba(188,166,24,0.68);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
	
}



.galeria .btn-galeria:visited{
	color: #fff;
}

.galeria .btn-galeria:hover{
	-webkit-box-shadow: -1px 11px 15px -1px rgba(188,166,24,0.72);
	-moz-box-shadow: -1px 11px 15px -1px rgba(188,166,24,0.72);
	box-shadow: -1px 11px 15px -1px rgba(188,166,24,0.72);

}

/* notaria */

.notaria{
	padding-top: 100px;
	width: 100%;
	padding-bottom: 100px;
	position: relative;
	border: 1px solid red;
	
}
.notaria .ancla-notaria{
	width: 10px;
	height: 10px;
	background: red;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	top: -40px;
	
}
.notaria h2{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	margin-bottom: 50px;
	display: inline-block;
	
}
.notaria .info{
	margin-bottom: 80px;
}

.notaria .info ul li{
	font-weight: bold;
	line-height: 35px;
}

/* horario de atencion */

.horario .card{
	background: var(--csec);
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-left: 15px;
	margin-top: 60px;
	margin-right: 50px;
}
.horario .card p{
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
	color: #fff;
}
.horario .card ul li{
	line-height: 35px;
	color: #aaaaaa;
	font-weight: 400;
}
.horario .card ul .day{
	color: var(--cpri);
	font-size: 18px;
	
}




/* requisitos */
.requisitos .card{
	border-radius: 0;
	margin-bottom: 20px;
	border: 1px dotted var(--cpri);	
	
}

.requisitos ul li{
	line-height: 30px;
	font-size: 15px;
}





/* celebraciones */
.celebraciones{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 200px;

}
.celebraciones img{
	position: absolute;
	width: 400px;
	top: -50px;
	left: -250px;
}
.celebraciones .card{

	border: none;
	
}
.celebraciones .card .card-header{
	
	text-align: center;
	color: #fff;
	background: var(--cpri);
}
.celebraciones .card .card-body{
	
	background: var(--csec);
	color: #fff;
	padding: 5% 10% 10% 10%;
}
.celebraciones .card ul li{
	line-height: 30px;
	color: #aaaaaa;
	font-weight: 400;
}
.celebraciones .card ul .day{
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.celebraciones .card ul li span{
	
	color: var(--cpri);
	
}


/* contacto */
.contacto{
	width: 100%;
	padding-bottom: 80px;
	padding-top: 100px;
	background: url(../img/file.jpg) center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #fff;
}
.contacto .text{
	font-size: 28px;
	font-weight: lighter;
	line-height: 35px;
}
.contacto .text strong{
	font-size: 32px;
	font-weight: bold;
	
}
.contacto .text .redes{
	margin-top: 20px;	
}
.contacto .text .redes span{
	margin-right: 20px;
	font-size: 32px;
}

.contacto .btn-contacto{
	padding: 8px 80px 8px 80px;
	-webkit-border-radius:1005px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 2px solid #fff;
	margin-top: 35px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background: transparent;
	
}

.contacto .btn-contacto:hover{
	background: #00161c;
	border: 2px solid var(--csec);
	color: #fff;
}

.contacto .btn-contacto:visited{
	text-decoration: none;
}


#modalcontacto .modal-dialog{
	max-width: 600px;
}

#modalcontacto .modal-dialog .modal-header{
	background: var(--cpri);
	color: #fff;
	border-radius: 0;
	
}
#modalcontacto .modal-dialog .modal-header .close{
	color: #fff;
	outline: none;
}

#modalcontacto .modal-dialog .modal-body .form-group .form-control{
	border: 1px solid #D5D5D5;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px;
}

#modalcontacto .modal-dialog .modal-body .form-group input:focus, #modalcontacto .modal-dialog .modal-body .form-group textarea:focus{
	
	border: 1px solid var(--cpri);
	background: var(--cpri);
	color: #fff;
}

#modalcontacto .modal-dialog .modal-body .form-group .form-control::placeholder {
    color: #747474;
    
}

#modalcontacto .modal-dialog .modal-footer{
	border-top: none;
}
#modalcontacto .modal-dialog .modal-footer .btn{
	background: var(--csec);
	color: #fff;
	padding-left: 5%;
	padding-right: 5%;
	outline: none !important;
	border: none !important;
	
}
#modalcontacto .modal-dialog .modal-footer .btn:hover{
	background: var(--cpri);
	outline:none !important;
	border: none !important;
}
#modalcontacto .modal-dialog .modal-footer button.btn:focus{
	
	box-shadow: 0 0 0 0;
}





footer{
	text-align: center;
	background: var(--csec);
	color: #fff;
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 10px;
}









/* seccion blog */

.banner-info{
	
	background: url("../img/banner-info.jpg") center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
	width: 100%;
}


.banner-info h1{
	color: #fff;
	margin-top: 120px;
	font-size: 32px;
}
.banner-info h1 strong{
	font-size: 42px;
	color: var(--cpri);
}
.banner-info p span{
	font-size: 48px;
	color: #fff;
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	margin-bottom: 15px;
	display: inline-block;
}

.banner-info p{
	font-size: 16px;
	color: #fff;
	margin-top: 50px;
}


/* estilos cuerpo del blog */

.blog{
	padding-top: 80px;
	padding-bottom: 80px;
	width: 100%;
	background: #fefefe;
	
}
.blog h4{
	border-bottom: 2px solid var(--cpri);
	padding-bottom: 10px;
	display: inline-block;
	font-size: 32;
	font-weight: bold;
	margin-bottom: 50px;
}
.blog .card{
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 0px 30px -10px rgba(209,209,209,1);
	-moz-box-shadow: 0px 0px 30px -10px rgba(209,209,209,1);
	box-shadow: 0px 0px 30px -10px rgba(209,209,209,1); 
	border: none;
}

.blog .card .image-n{
	clip-path: inset(0 0 0 0);
	position: relative;
}
.blog .card img{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	margin-top: auto;
	
	

}

.blog .card .card-body .card-title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
}
.blog .card .card-body .card-text{
	font-size: 15px;
	color: #232323;
}
.blog .card .card-body .card-text .text-muted{
	color: var(--csec) !important;
	font-weight: bold !important;
}

.blog .card .card-body p a{
	
	text-decoration: none;
	position: absolute;
	right: 25px;
	color: var(--csec);
	border-bottom: 2px solid var(--cpri);
	outline: none;
}

.blog .card .card-body p a:hover{
	color: var(--cpri);
}


/* comentarios */
.comentarios-b{
	padding-top: 90px;
	padding-bottom: 50px;
}
.comentarios-b .title-c{
	background: var(--csec);
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.comentarios-b ul li{
	border: 1px solid #ebebeb;
	font-size: 14px;
	color:#232323;
	
}





/* estilos pagina noticia */
/* seccion blog */

.noticia-info{
	
	background: url("../img/banner-info.jpg") center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 120px;
	width: 100%;

}


.noticia-info h1{
	color: #fff;
	margin-top: 120px;
	font-size: 32px;
}
.noticia-info h1 strong{
	font-size: 42px;
	color: var(--cpri);
}

.noticia-body{
	padding-top: 100px;
	padding-bottom: 200px;
	width: 100%;

}
.noticia-body h4{
	font-size: 32px;
	border-left: 8px solid var(--cpri);
	padding-left: 25px;
	margin-bottom: 25px;
	font-weight: bold;

}
.noticia-body ul li{
	font-size: 14px;
}
.noticia-body ul li:first-child{
	color: var(--cpri);
	font-weight: bold;
}
.noticia-body p{
	line-height: 32px;
	font-size: 16px;
	padding-right: 25px;
	margin-top: 35px;
}
.noticia-body img{
	margin-top: 60px;
}



/* pagina galeria */

.galeria-body{
	margin-top: 100px;
	margin-bottom: 200px;
	width: 100%;
	position: relative;
}
.galeria-body .btn-subir-img{
	padding: 8px 40px 8px 40px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: none;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background: var(--cpri);
	margin-bottom: 35px;
	position: relative;
	overflow: hidden;
	
}

.galeria-body .btn-subir-img:hover{
	background: var(--csec);
	color: #fff;
	outline: none;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.galeria-body .btn-subir-img:visited{
	text-decoration: none;
}
.galeria-body .btn-subir-img span{
	margin-left: 5px;
	display: inline-block;
}
.galeria-body .btn-subir-img:hover > span{
	animation: subir 0.7s ease;
}

@keyframes subir {
	from{
		transform: translateY(50px);
	}
	
	to{
		transform: translateY(0px);
	}
  		
}


.galeria-body .categorias li{
	line-height: 32px;
	color: #818181;
	font-size: 15px;
	
}
.galeria-body .categorias li:hover{
	color: var(--csec);
	cursor: pointer;
	font-weight: bold;
}

.galeria-body .categorias-dr{
	display: inline-block;
}
.galeria-body .categorias-dr button{
	padding: 8px 50px 8px 50px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: none;
	color: #fff;
	font-weight: bold;
	outline: none;
	background: var(--csec);
	display: none;
}
.dropdown-menu{
	border: 2px solid #bca618 !important; 
}
.galeria-body .categorias-dr ul li:hover{
	cursor: pointer;
	background: var(--cpri);
	color: #fff;
}

	

.galeria-items .imagen-item{
	width: 100%;
	height: 250px;

}
.galeria-items .imagen-item::before{
	background: var(--csec);
	content: "";
	width: 100%;
	height: 250px;
	position: absolute;
	opacity: 0%;
}

.galeria-items .card{
	margin-bottom: 12%;
	border: none;
	
}
.galeria-items .card .card-text{
	font-size: 14px;
	font-weight: bold;
}
.img-tum a:link{
	text-decoration: none;
	outline: none;
	color: #212529;
}
.img-tum a:visited{
	color: #212529;
}
.img-tum a:hover .card-body{
	background: #00161c;
	color: #fff;
	
}
.img-tum a:hover .imagen-item::before{
	opacity: 35%;
	
}


/* ventana modal galeria*/

.modal-content{
	border: none !important;
}

.gal-ventana .contenido{
	padding: 2%;
}
.gal-ventana .contenido h5{
	text-align: center;
	font-size: 28px;
	margin-bottom: 25px;
}
.gal-ventana .contenido p{
	font-size: 14px;
	color: #525252;
	line-height: 26px;
	text-align: left;
	overflow: auto;
	max-height: 350px;
}
.gal-ventana img{
	max-height: 500px;
}
.gal-ventana .close-img{
	position: absolute;
	right: -20px;
	top: -20px;
	background: var(--csec);
	border: none;
	font-size: 28px;
	border-radius: 100px;
	width: 2em;
	height: 2em;
	color: white;
	outline: none;
	z-index: 100000;
	
}
.gal-ventana .modal-footer{

    justify-content: flex-start;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
    border-top: none;
    
}
.gal-ventana .modal-footer ul li{
	font-size: 14px;
}
.gal-ventana .modal-footer ul li:nth-child(2){
	color: var(--cpri);
	font-weight: bold;
}




/* ------------------------diseno responsive-------------------------------------------------------- */




@media screen and (max-width: 1920px){
	.banner .media{
		padding-right: 15%;
	}
	
	
}

@media screen and (min-width: 1441px){
	.img-pri{
		display: none;
	}
	.img-sec{
		display: block;
		position: relative;
		top: -10%;
	}
	.bienvenidos {
    	padding-top: 0px;
	}
	.xnav{
		background: var(--csec);
	}
}

@media screen and (max-width: 1440px){
	.img-sec{
		display: none;
	}
	.img-pri{
		display: block;
	}
	.banner .media{
		padding-right: 15%;
	}
}




@media screen and (max-width: 1199px){
	
	/* estilos banner */
	
	.img-pri{
	
		width: 680px;
		height: 100%;
	}
	.banner .media{
		margin-top: 20px;
	}
	.banner .media img{
		width: 80px;
		margin-top: 20px;
		position: relative;
	}
	
	
	/* seccion bienvenidos */
	.bienvenidos img{
		display: none;		
	}
	.bienvenidos .mineral{
		display: inline-block;
		width: 400px;
	}
	
	/* seccion historia */
	.historia img{
		display: none;
		
	}
	.historia .pedro{
		display: block;
		
	}
	
	/* señor de los trabajos */
	.s-trabajos-img{
		display: none;
	}
	
	.s-trabajos-img-max{
		display: block;
		margin-top: 85px;
	
	}
	
	
	/* galeria */
	.galeria h2{
		margin-top: 40px;
	}

	
}

@media screen and (max-width: 1175px){
	.banner{
		background: url("../img/banner-max.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		
	}
	.img-pri{
		display: none;
	}
	.banner h1{
		color: #fff;
	}
	.banner .title strong{
		color: var(--cpri);
	}

	.fras-sanpedro p{
		color: #fff;
	}
	
	.banner .media{
		padding-right: 10%;
	}
	
	/* estilos historia */
	.historia .ancla-historia{
		
		top: 0;

	}
}




@media screen and (max-width: 991px){
	
	.navbar-toggler{
		display: none;
	}
	/* seccion banner */
	.banner .media{
		padding-right: 10%;
	}
	
	/* seccion bienvenidos */
	.bienvenidos .mineral{
		margin-top: 90px;
	}
	.bienvenidos p{
		line-height: 32px;
	}
	
	/* señor de los trabajos */
	.s-trabajos p{
		line-height: 32px;
	}
	.s-trabajos .s-trabajos-img-max{
		margin-top: 80px;
	}
	.s-trabajos .historia-p{
		line-height: 30px;
	}
	
	/* seccion sacerdotes (historia) */
	
	.sacerdotes .modal-content .modal-body span {
    	margin-right: 10px;
	}
	
	/* seccion noticias */

	.avisos .ancla-avisos{
		top: 20px;

	}
	.avisos .card-avisos{
		margin-top: 100px;
	
	}
	.avisos .noticias{
		padding-right: 13px;
		
	}
	/* galeria */
	.galeria .info{
		padding-left: 40px;
	}
	.galeria h2{
		margin-top: 0px;
	}
	.galeria p {
    margin-top: 20px;
    margin-bottom: 20px;
}
	
	/* notaria */
	.horario .card{
		margin-right: 0px;
	}
	
	/* contacto */
	.contacto .btn-contacto{
		margin-top: 25px;
	}
	.contacto .comentarios ul{
		margin-top: 10px;
	}
	
	/* estilos pagina galeria */
	
	.galeria-body .categorias{
		display: none;

	}
	.galeria-body .categorias-dr button{
		display: inline-block;
		margin-left: 25px;
		
	}
	.galeria-body .galeria-items{
		margin-top: 50px;
	}
	
	
	footer{
		margin-bottom: 55px;
	}
	
	/* estilos segundo menu */
	#menu-2{
		display: flex !important;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		justify-content: space-around;
		background: var(--csec) !important;
		
		
	}
	#menu-2 .navbar-brand {
		margin-right: 0;
		margin-left: 3.5%;
		
	}
	#menu-2 a{
		justify-content: center !important;
		margin-top: 2px;
		padding-top: 0px;
		padding-bottom: 0px !important;
		color: #fff;
	}
	#menu-2 i{
	
		font-size: 18px;
		color: #fff;
		
		
	
	}
	#menu-2 p{
		font-size: 12px;
		text-align: center;
		margin-bottom: 2px;
		font-family: 'Lato', sans-serif;
		font-weight: 400 !important;
	}
	
	
}


@media screen and (max-width: 767px){
	
	/*banner */
	.banner{
		background: url("../img/banner-min.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		
	}
	.banner h1 {
		font-size: 32px;
	}
	.banner .title strong {
		font-size: 38px;
		font-weight: bold;
	}

	.banner .media{
		padding-right: 120px;
	}
	.banner .media img{
		display: none;
	}
	
	.fras-sanpedro p {
		
		font-size: 15px;
	}
		
	
	/* bienvenidos */
	.bienvenidos p{
		text-align: left;
		line-height: 30px;
	}
	.bienvenidos img{
		display: block;
		margin-top: 5%;
	}
	.bienvenidos .mineral{
		display: none;
		
	}
	/* seccion historia */
	.historia .ancla-historia{
		top: 8px;
	}
	.historia img{
		display: block;
		
	}
	.historia .pedro{
		display: none;
	}
	.historia .info {
   		padding-left: 15px;
		padding-top: 10%;
	}
	.historia .info p{
		line-height: 30px;
	}
	
	.sacerdotes .modal-content .modal-body ul li {
		font-size: 14px;
	}
	
	
	/* señor de los trabajos */
	.s-trabajos {
		margin-top: 50px;
	}
	.s-trabajos-img{
		display: block;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.s-trabajos-img-max{
		display: none;
		
	}
	.s-trabajos p {
		line-height: 30px;
	}
	
	.s-trabajos .historia-p {
    
		border-left: 5px solid var(--cpri);
	}
	/* seccion galeria */

	.galeria{
		padding-top: 80px;

	}
	.galeria .ancla-galeria{
		top: 0;

	}
	.galeria .info{
		padding-top: 50px;
		padding-left: 15px;
	}
	
	
	/* notaria */
	.notaria {
    	padding-top: 50px;
	}
	
	.notaria h2 {
    	margin-bottom: 25px;
	}
	
	/*contacto */
	
	.contacto .text {
		text-align: center;
	}

	
	.contacto .comentarios ul{
		margin-top: 50px;
	}
	.contacto .comentarios ul li{
		text-align: center;
	}
	
	
	
	/* estilos blog */
	
	.banner-info{
	
		background: url("../img/banner-info-min.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		
		
	}
	.banner-info p{
		padding-right: 25%;
	}
	
	.blog .card .image-n{
	 
		height: 300px;
		align-items: center;
		position: relative;
		
    }
	.blog .card img{
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		margin-top: auto;
		
	}
	
	
	/* estilos noticias */
	.noticia-info{
	
		background: url("../img/banner-info-min.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		padding-bottom: 80px;
		
	}
	.noticia-info h1{
		margin-top: 80px;
	}
	.noticia-body{
		padding-top: 50px;
	}
	.noticia-body h4{
		font-size: 28px;
	}
	
	.noticia-body img{
		margin-top: 30px;
	}
	
	/* estilos pagina galeria */
	
	.galeria-body{
		margin-top: 50px;
	}
	.galeria-body .lateral{
		justify-content: space-around;
		display: flex;
	}
	.galeria-body .categorias-dr button{
		margin-left: 0;
	}
	
	.gal-ventana .max, .gal-ventana .modal-dialog{
		width: 100%;
		top: 2%;
		left: 0;
		margin: auto;
		height: 100%;
		border-radius: 0;

	}
	.modal-content{
		border-radius: 0 !important;
	}
	.gal-ventana .contenido h5 {
		
		font-size: 18px;
		margin-top: 25px;
		
	}
	.categorias-dr .dropdown-menu{
		top: 55%;
		left: -30%;
	}
	
}





@media screen and (max-width: 575px){
	
	
	
	
	.subtitles-pri, .noticias h4, .avisos .card-avisos .card-header h4{
		font-size: 28px;
	}
	
	.historia .info h3 {
		font-size: 26px;

	}
	
	.bienvenidos p, .historia .info p, .s-trabajos p, .s-trabajos .historia-p, .noticias p,.avisos .card-avisos .list-avisos li, .galeria p, .horario .card ul .day, .horario .card ul li, .requisitos ul li, .celebraciones .card ul .day, .celebraciones .card ul li, .blog .card .card-body .card-text, .noticia-body p{
		font-size: 14px;
		
	}
	
	.noticias h5, .blog .card .card-body .card-title{
		font-size: 16px;
	}
	
	.noticia-body h4 {
		font-size: 20px !important;
	}
	
	
	.gal-ventana .max, .gal-ventana .modal-dialog{
		top: 0;
	}
	.gal-ventana .close-img{
		position: fixed;
		right: 1.2%;
		top: 1%;
		z-index: 10001;

	}
	 .modal, .modal-content-img{
		height: 100% ;
	}
	.gal-ventana .modal-body{
		background: #fff;
	}
	
	
}





@media screen and (max-width: 465px){
	
	.banner{
		background: url("../img/banner-min-2-ex.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		
		
		
		
	}
	.banner h1 {
		font-size: 28px;
		text-align: center;
		margin-top: 55%;
	}
	.banner .title strong {
		font-size: 32px;	
	}

	.banner .media{
		display: none;
	}
	
	
	/* contacto */
	.notaria .text{
		display: none;
	}
	
	.bienvenidos {
   
		padding-top: 50px;

	}
	
	
	/* contenido blog*/
	.banner-info{
		text-align: center;
		background: url("../img/banner-info-min-2.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
	.banner-info p{
		padding-right: 0;
	}
	
	/* contenido noticia*/
	.noticia-info{
		text-align: center;
		background: url("../img/banner-info-min-2.jpg") center center no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
	.noticia-body h4{
		font-size: 24px;
	}
	.noticia-body p{
		line-height: 30px;
		font-size: 14px;
	}
	.noticia-body img{
		margin-top: 30px;
	}
	
	
	/* estilos pagina galeria */
	
	
	
}


@media screen and (max-width: 452px){
	
	.banner-info h1 {
		
		margin-top: 80px;
		
	}
	
	
	/* contacto */
	.notaria .text{
		display: none;
	}
	
	
	/* estilos pagina galeria */
	
	.galeria-body .lateral{
		display: block;
		
	}
	.galeria-body .lateral .btn-subir-img{
		display: block;
		width: 100%;
	}
	.galeria-body .categorias-dr {
		display: block;
	}
	.galeria-body .categorias-dr button {
		display: block;
		width: 100%;
	}
	.categorias-dr .dropdown-menu{
		width: 100%;
		top: 100%;
		left: 0;
	}
	
	
}

@media screen and (max-width: 378px){
	
	.banner h1 {
		margin-top: 32%;
		margin-bottom: 40%;
	}
	
	.notaria .info ul li {
		font-size: 14px;
	}
}

@media screen and (max-width: 350px){
	
	
	
	.noticias .btn-noticias {
		padding: 8px 40px 8px 40px;
	}
	.notaria .info ul li {
		font-size: 13px;
	}
	
}

@media screen and (max-width: 300px){
	.navbar .parro{
		font-size: 16px;
	}
}
