.banner{
	background: red;
	min-height: 400px;
	width: 100%;
	padding-bottom: 30px;
	padding-top: 60px;
 
}

.banner .title{
	font-family: 'Lato', sans-serif;	
}
.banner .title span{
	font-size: 65px;
	font-weight: normal;
}
.banner .title strong{
	font-size: 52px;
	font-weight: 900;
}

.fras-sanpedro{
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-style: italic;
}

/*------ estilos para los subtitulos ---------

->bienenidos
->Noticias
->señor de los trabajos
->galeria
->Notaria parroquial
->celebraciones parroquiales   

-----------------------------*/

.subtitles-pri{
	font-family: 'Lato', sans-serif;
	font-size: 32px;
	font-weight: bold;
}




/* ------ seccion bienvenidos ------*/
.sec-bievenidos{
	min-height: 500px;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 40px;
	
}

.parr-bienenidos{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	text-align: justify;
		
	
}


.img-sombra{
	
	-webkit-box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 5px 25px 5px rgba(0,0,0,0.2);
}



/*--------- seccion avisos --- */

.sec-avisos{
	min-height: 500px;
	width: 100%;
	background: url(../img/img-parro.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sec-avisos .card-avisos{
	margin-top: 60px;
	border-radius: 0px;
	min-height: 380px;
	border: none;
	-webkit-box-shadow: 0px 9px 32px 0px rgba(118,114,224,1);
	-moz-box-shadow: 0px 9px 32px 0px rgba(118,114,224,1);
	box-shadow: 0px 9px 32px 0px rgba(118,114,224,1);
	
}

.sec-avisos .card-avisos .card-header{
	padding: 0px;
	background: #7672e0;
	border: none;
}
.sec-avisos .card-avisos .card-header h4{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	
}

.sec-avisos .card-avisos .list-avisos li{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	
}



/*------ seccion historia --- */

.sec-historia{
	min-height: 500px;
	width: 100%;

}

.sec-historia .img-pedro{
	margin-top: 80px;

}

.sec-historia .hs{
	padding-top: 100px;
	
}

.sec-historia .hs h3{
    font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: bold;
	
}
.sec-historia .hs .btn-hs{
	background: #fff;
	border: solid 3px #a39223;
	margin-bottom: 30px;
	padding: 1px 30px;
	color: #a39223;

}
.sec-historia .hs p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
	
}





